.forgotPassword-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword-container .aside {
    width: 60vh;
    height: 60vh;
    border: 1px black solid;
}

.forgotPassword-container .aside .header h1 {
    font-size: 40px;
    color: #615f5f;
    text-align: center;
    margin-top: 50px;
}

#forgotPassword-form {
    padding: 20px;
}

#cancel {
    margin: 0px 0px 0px 150px;
    text-decoration: underline;
}

#forgotPassword-form input {
    border-radius: 5px;
    margin: 5px 10px;
    width: 50vh;
    height: 40px;
}