.group-bar {
  padding: 5px 40px;
  margin: 0px 0px 5px 0px;
  border: 1px solid gray;
  border-radius: 0.5cm;
  line-height: 80px;
  font-size: x-large;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.groupName {
  font-size: 50px;
}

.searchbar {
  margin: 20px 150px 0px 0px;
}

.searchbar input {
  outline: none;
}

.searchbar input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

.searchbar input::-webkit-search-decoration,
.searchbar input::-webkit-search-cancel-button {
  display: none;
}

.searchbar input[type="search"] {
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 70px;
  border-radius: 10em;
  transition: all 0.5s;
}

.searchbar input[type="search"]:focus {
  width: 350px;
}

.searchbar input:-moz-placeholder {
  color: #999;
}

.searchbar input::-webkit-input-placeholder {
  color: #999;
}
